@tailwind base;
@tailwind components;
@tailwind utilities;

body,
:root {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  background: image("assets/MESK\ \(1\).png");
  height: 100vh;
  border-image-repeat: repeat;
}
